@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
body{
  font-family:"Inter",sans-serif;
  font-size:16px;
  line-height:22px;
  color:#2D3440;
  background-color: #FEAFC3;
}
a{
  font-size: 16px;
  line-height: 20px;
  color:#2D3440;
  text-decoration: none;
}
li{
  list-style: none;
}
.navigation-link{
  color:#2D3440;
  text-decoration: none;
}
.navigation-user li{
  background: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}
.header-contacts-address-phone{
  font-weight: 700;
  color:#2D3440;
  text-decoration: none;
}
.raspberries{
  background-color: #FF7799;
  width: 570px;
  height: 268px;
  border-radius: 16px;
  position: relative;
}

.marshmallows{
  background: #FF7799;
  width: 570px;
  height: 268px;
  border-radius: 16px;
  position: relative;
}
.present-button{
  position: absolute;
  left:40px;
  bottom: 40px;
}
.button-link{
  font-weight: 700;
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding:12px 32px;
}
.product-list li{
  background: white;
  position: relative;
  width: 270px;
  height: 281px;
  border-radius: 8px;
}
.product-card-link, .product-card-price{
  position:absolute;
  text-align:center;
  bottom: 40px;
}
.product-card-image{
  position: absolute;
  left:51px;
  top:-51px;
}
.product-card-button{
  position: absolute;
  bottom:40px;
  right:20px;
}
.about-us-border{
  background:url("../image/waferFon.png");
  border-radius: 16px;
  width: 1170px;
  height: 480px;
  position:relative;
  top:6px;
}
.about-us{
  background:#FCFCFC;
  border-radius: 16px;
  width: 1122px;
  height: 432px;
  position: absolute;
  top:24px;
  left:24px;
}
.about-us-list{
  margin-left: 40px;
}

.about-us-title{
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}
.about-block1{
  list-style-image: url("../image/iceIcon.svg");
}
.about-block2{
  list-style-image: url("../image/Cow.svg");
}
.about-block3{
  list-style-image: url("../image/leaf.svg");
}
.about-block4{
  list-style-image: url("../image/thermom.svg");
}
.new-in-store{
  background-image: url("../image/backgroundIcecream\ .jpg");
  width: 570px;
  height: 216px;
  border-radius: 16px;
}
.new-in-store-link{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.fon-mailing{
  background:url("../image/FonMail.jpg") no-repeat;
  border-radius: 16px;
  width: 570px;
  height: 220px;
  position:relative;
  top:6px;
}
.mailing{
  background:white;
  border-radius: 16px;
  width: 558px;
  height: 208px;
  position:absolute;
  top:6px;
  left:6px;
}
.delivery{
  background:url("../image/backgroundIcecream2.jpg");
  border-radius: 16px;
  width: 1170px;
  height: 534px;
  position: relative;
}
.appointment-form{
  background: #FCFCFC;
  border-radius: 8px;
  width: 500px;
  height: 406px;
  position: absolute;
  right:64px;
  top:64px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}
.contact-us{
  background:url("../image/backgroundIcecream3.jpg");
  width: 1170px;
  height: 492px;
  border-radius: 16px;
  position: relative;
}
.contact-us-form{
  background: #FCFCFC;
  width: 343px;
  height: 364px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  position: absolute;
  left: 64px;
  top:64px;
}
.breadcrumbs li{
  text-decoration:underline;
  font-weight: bold;
}
.catalog-filter-group{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.catalog-filter-dispatch{
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  padding: 8px 32px;
  width: 187px;
  height: 36px;
}

