@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}
.html {
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family:"Inter",sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}
.main-container {
  flex-grow: 1;
}
a {
  color: #2D3440;
  text-decoration: none;
}
li {
  list-style: none;
}
.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}
.header {
  margin-bottom: 45px;
}
.header-contacts-logo {
  margin-right: 16px;
  margin-top: 24px;
}
.navigation-list {
  display: grid;
  grid-template-columns: 95px 180px 126px;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 10px;
  padding: 0;
  flex-wrap: wrap;
  width: 400px;
}
.navigation-user {
  display: grid;
  grid-template-columns: 48px 110px 105px;
  width: 261px;
}
.navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
}
.navigation-user-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
}
.navigation-link:focus {
  background: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
  border-radius: 26px;
}
.navigation-user-link:focus {
  background: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
  border-radius: 26px;
}
.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.navigation-entrance {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 40px;
  padding-right: 18px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}
.navigation-basket {
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 40px;
  padding-right: 16px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}
.navigation-entrance .navigation-icon {
  right: auto;
  left: 18px;
  margin: auto 0;
}
.navigation-basket .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}
.navigation-item {
  align-self: center;
  justify-self: center;
}
.navigation-link {
  display: block;
  color: #2D3440;
  text-decoration: none;
  padding: 8px 16px;
}
.navigation-popup {
  position: relative;
}
.navigation-sirch {
  position: relative;
  padding: 7px 16px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}
.header-contacts-address-phone {
  align-self: flex-start;
  margin-top: 42px;
  margin-left: 198px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}
.header-contacts-address-phone:focus{
  background: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
  border-radius: 26px;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.slider-pagination-section {
  margin-bottom: 80px;
}
.slider-button {
  position: relative;
  width: 38px;
  height: 38px;
  align-self: center;
  background: rgba(252, 252, 252, 0.3);
/* basic/extra-light */
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 26px;
}
.slider-button:hover {
  background: #FCFCFC;
  border-radius: 26px;
}
.slider-button:hover .slider-icon {
  fill: #2D3440;
}
.slider-button:focus {
  background: rgba(252, 252, 252, 0.3);
/* basic/extra-dark */

  border: 2px solid #2D3440;
  box-sizing: border-box;
  border-radius: 26px;
}
.slider-button:focus .slider-icon {
  fill: #2D3440;
}
.slider-button:disabled {
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  /* basic/extra-light */

  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 26px;
}
.slider-button:disabled:hover {
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  /* basic/extra-light */

  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 26px;
  outline: none;
  cursor: default;
}
.slider-button:disabled:hover .slider-icon{
  fill: #FCFCFC;
}
.slider-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#FCFCFC;
}
.slider-button-order {
  align-self: center;
}
.slider-pagination-photo {
  align-self: flex-end;
  order: 1;
}
.social-list {
  align-self: flex-end;
  order: -1;
}
.present {
  margin-bottom: 80px;
}
.present-container {
  display: flex;
}
.raspberries {
  width: 325px;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-right: 205px;
  padding-left: 40px;
  border-radius: 16px;
  background: #FF7799 url("../image/raspberries.png") no-repeat 375px 28px;
  margin-right: 30px;
}
.marshmallows {
  width: 295px;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-right: 235px;
  padding-left: 40px;
  border-radius: 16px;
  background: #FF7799 url("../image/marchmalloy.png") no-repeat 330px 20px;
}

.present-title {
  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 56px;
  width: 443px;
  text-align: center;
  font-weight: 900;
}
.presen-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.raspberries-description{
  width: 321px;
  margin: 0;
  margin-bottom: 44px;
}
.marshmallows-description{
  width: 294px;
  margin: 0;
  margin-bottom: 44px;
}
.present-button {
  left: 40px;
  bottom: 40px;
}
.button-link-white {
  font-weight: 700;
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;
}
.button-link-white:hover {
  background: rgba(252, 252, 252, 0.4);
  border: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  outline: none;
}
.button-link-white:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
  border-radius: 26px;
}
.button-link-white:disabled {
  background: #E7E7E7;
  border: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
}
.button-link-pink {
  font-weight: 700;
  background: #FF2F64;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;
}
.button-link-pink:hover {
  background: rgba(252, 252, 252, 0.3);
  /* special/extra-bright */

  border: 4px solid #FF2F64;
  border-radius: 26px;
  outline: none;
}
.button-link-pink:focus {
  background: #FF2F64;
  border: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
  border-radius: 26px;
}
.button-link-pink:disabled {
  background: #B9B9B9;
  border: 4px solid rgba(185, 185, 185, 0.3);
  border-radius: 26px;
}
.product-title {
  margin: 0 auto;
  width: 527px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 107px;
}
.product-card {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}
.product-card-title {
  margin: 0;
  margin-bottom: 8px;
}
.product-card-image {
  margin-top: -51px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
}
.product-list {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(4,270px);
  row-gap: 90px;
  column-gap: 30px;
}
.product-list li {
  background: white;
  width: 190px;
  border-radius: 8px;
}
.product-card-description {
  margin-bottom: 20px;
}
.product-card-link,.product-card-description {
  text-align: center;
}
.product-card-link:hover {
  background: #FFFFFF;
/* basic/extra-dark */

  box-shadow: inset 0 0 0 1px #2D3440;
  outline: none;
  border-radius: 4px;
}
.product-card-link:focus {
  background: #FFFFFF;
  /* basic/extra-dark */

  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
  border-radius: 4px;
}
.product-container {
  margin-bottom: 80px;
}
.product-card-price {
  display: flex;
  justify-content: flex-start;
}
.product-card-button {
  position: relative;
  background:#FF2F64;
  border-radius: 26px;
  width: 32px;
  height: 32px;
  margin-left: auto;
  margin-top: -27px;
  margin-bottom: 24px;
}
.product-card-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: white;
}
.product-card-button:hover {
  background: rgba(252, 252, 252, 0.3);
/* special/extra-bright */

  border: 2px solid #FF2F64;
  box-sizing: border-box;
  border-radius: 26px;
}
.product-card-button:hover .product-card-icon {
  fill: #242424;
}
.product-card-button:focus {
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
  border-radius: 26px;
}
.about-us-border {
  background: url("../image/waferFon.png");
  padding: 24px 24px;
  margin: 0;
  width: 1122px;
  margin-bottom: 80px;
  border-radius: 16px;
}
.about-us {
  background: #FCFCFC;
  border-radius: 16px;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 56px;
  padding-bottom: 56px;
}
.about-us-list {
  display: grid;
  grid-template-columns: repeat(2,505px);
  column-gap: 32px;
  row-gap: 40px;
  margin: 0;
  padding: 0;
}

.about-us-title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 56px;
  font-family: "Inter";
  font-style: normal;
  width: 994px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}
.about-us-item:nth-child(1) {
  background: url("../image/iceIcon.svg") no-repeat;
  padding-left: 64px;
}
.about-us-item:nth-child(2) {
  background: url("../image/cow.svg") no-repeat;
  padding-left: 64px;

}
.about-us-item:nth-child(3) {
  background: url("../image/leaf.svg") no-repeat;
  padding-left: 64px;

}
.about-us-item:nth-child(4) {
  background: url("../image/thermom.svg") no-repeat;
  padding-left: 64px;

}
.new-in-store {
  background:#FCFCFC url("../image/backgroundIcecream.jpg") no-repeat;
  display: flex;
  flex-direction: column;
  padding-left:32px;
  padding-top:32px;
  padding-bottom:62px;
  padding-right: 230px;
  width: 305px;
  border-radius: 16px;
}
.new-in-store-description {
  margin-bottom: 12px;
}
.new-in-store-link {
  width: 303px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.promotions-in-our-store {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.fon-mailing {
  background: url("../image/fonMail.jpg") no-repeat;
  border-radius: 16px;
  margin: 0;
  box-sizing: border-box;
  width: 558px;
  padding: 6px 6px;
}

.mailing {
  background: white;
  border-radius: 16px;
  margin: 0;
  padding: 26px 26px;
}
.mailing-form {
  display: grid;
  grid-template-columns: 330px 160px;
  margin-top: 42px;
}
.dispatch {
  justify-self: flex-end;
}
.delivery {
  background: url("../image/backgroundIcecream2.jpg");
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 100px;
  padding-right: 64px;
  border-radius: 16px;
  margin-bottom: 80px;
  width: 1006px;
}
.appointment-form-container {
  background: #FCFCFC;
  border-radius: 8px;
  margin-left: 135px;
  padding: 40px;
  width: 420px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}
.appointment-form {
  display: grid;
  grid-template-columns: 120px 285px;
  column-gap: 16px;
}
.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.field-to-fill {
  height: 48px;
}
.sending {
  justify-self: center;
  grid-column: 1/-1;
  margin-top: 28px;
}
.appointment-form-address {
  grid-column: 1 / -1;
  margin-top: 20px;
}
.delivery-title {
  font-family: "Inter",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}
.delivery-descriptoin {
  margin: 0;
  margin-bottom:32px;
}

.contact-us {
  background:#FF2F64 url("../image/backgroundIcecream3.jpg") no-repeat;
  width: 1170px;
  border-radius: 16px;
  padding: 64px;
  box-sizing: border-box;
}
.contact-us-form {
  background: #FCFCFC;
  width: 265px;
  margin:0;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding:40px;
}
.contact-us-address {
  margin-bottom: 28px;
}
.contact-us-address-text {
  font-family: "Inter",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.contact-us-address-phone {
  font-family: "Inter",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.contact-us-address-clarif {
  font-family: "Inter",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 32px;
}
.contact-us-text {
  padding-right: 84px;
  margin: 0;
  margin-bottom: 12px;
}
.footer-about-us-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
}
.contact-us-phone-text {
  margin-top: 24px;
  margin-bottom: 12px;
}
.contact-us-button {
  line-height: 20px;
}
.breadcrumbs li {
  text-decoration: underline;
  font-weight: bold;
}
.catalog-filter {
  display: flex;
  margin-bottom: 100px;
  width: 810px;
  flex-wrap: wrap;
}
.catalog-filter-group:nth-child(1) {
  width: 196px;
  padding: 0;
  margin: 0;
}
.catalog-filter-group:nth-child(2) {
  width: 196px;
  padding: 0;
  margin: 0;
}
.catalog-filter-group:nth-child(3) {
  width: 367px;
  padding: 0;
  margin: 0;
}
.catalog-filter-group:nth-child(4) {
  width: 596px;
  padding: 0;
  margin: 0;
}
.catalog-filter-group {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.catalog-filter-dispatch {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  padding: 8px 32px;
  width: 187px;
  height: 36px;
}
.footer {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}
.footer-social {
  margin-right: 300px;
  width: 104px;
}
.footer-social-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3,24px);
  column-gap: 16px;
  margin-top: 48px;
}
.social-item {
  position: relative;
  width: 24px;
  height: 24px;
}
.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.footer-about-us {
  margin-right: 200px;
  margin-top: 48px;
  width: 356px;
}
.footer-about-us-list {
  display: grid;
  grid-template-columns: 150px 185px;
  column-gap: 22px;
  margin: 0;
  row-gap: 8px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;

}
.footer-about-us-item:nth-child(1) {
  padding-left: 24px;
  background: url("../image/heart.svg") no-repeat 0px 2px;
  font-weight: bold;
}
.footer-about-us-item:nth-child(3) {
  padding-left: 24px;
}
.made-in {
  width: 193px;
}
.made-in-link-text{
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-top: 18px;
}
.footer-logo-html-academy{
  margin-top: 48px;
}
.catalog-filter-fatness-list {
  display: flex;
  flex-wrap: wrap;
}
.catalog-filter-fillers-list {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.catalog-title {
  margin: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}
.pagination-show-more {
  display: grid;
  margin: 0 auto;
  width: 115px;
}
.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  margin-top: -38px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 2px;
  text-align: center;
}
.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 1px #FCFCFC;
  outline: none;
  border-radius: 50px;
}
.pagination-link:focus {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 1px #2D3440;
  outline: none;
  border-radius: 50px;
}
.pagination-current {
  background: #FCFCFC;
  border-radius: 50px;
}
.pagination-prev {
  background: url("../image/arrowLeft.svg") no-repeat center;
}
.pagination-next {
  background: url("../image/arrowRight.svg") no-repeat center;
}
